@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
.nav .nav__list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.grid__content, .hero__content {
  display: flex;
  flex-direction: column;
}
.grid__content h1, .hero__content h1,
.grid__content h2,
.hero__content h2 {
  color: rgb(0, 0, 0);
  margin-bottom: 1rem;
}
.grid__content p, .hero__content p {
  color: rgb(160, 160, 160);
}

body {
  font-family: "League Spartan", sans-serif;
}

.text-1 {
  font-size: 3rem;
  line-height: 90%;
  letter-spacing: -0.125rem;
  font-weight: 600;
}

.text-2 {
  font-size: 2.5rem;
  line-height: 100%;
  letter-spacing: -0.125rem;
  font-weight: 600;
}

.text-3-b {
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: 0.4375rem;
  font-weight: 700;
}

.text-3-sb {
  font-size: 1rem;
  line-height: 100%;
  letter-spacing: -0.04375rem;
  font-weight: 600;
}

.text-3-m {
  font-size: 1rem;
  line-height: 140%;
  letter-spacing: -0.03125rem;
  font-weight: 500;
}

.text-4 {
  font-size: 0.9375rem;
  line-height: 100%;
  letter-spacing: 0.78125rem;
  font-weight: 500;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: none;
  border: none;
  padding: 0;
  outline: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

image {
  display: block;
  width: 100%;
}

body {
  position: relative;
  width: 100vw;
  max-width: 90rem;
  min-width: 23.4375rem;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
}

.hero {
  position: relative;
  height: 33.375rem;
  transition: all 300ms ease-in-out;
}

.hero__slide {
  opacity: 0;
  display: grid;
  grid-template-columns: 58.33% 41.66%;
  pointer-events: none;
  z-index: -1;
}

.hero__slide--active {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.hero__image {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}

.hero__image-dining {
  background-image: url(../../images/desktop-image-hero-1.jpg);
  height: 100%;
}

.hero__image-chairs {
  background-image: url(../../images/desktop-image-hero-2.jpg);
}

.hero__image-chair {
  background-image: url(../../images/desktop-image-hero-3.jpg);
}

.hero__content {
  position: relative;
  height: 100%;
  padding: 5.3125rem 8.6875rem;
  z-index: 5;
}

.grid {
  width: 100%;
  height: 16.625rem;
  display: grid;
  grid-template-columns: 29.17% 40.27% 30.56%;
}

.grid__content-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid__content {
  width: 30.25rem;
}
.grid__content h2 {
  text-transform: uppercase;
}

header {
  position: absolute;
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 4rem;
  padding-left: 4rem;
  display: flex;
  z-index: 9;
}

.hero__burger {
  display: none;
}

.hero__logo {
  margin-right: 3.5rem;
}

.hero__buttons-container {
  position: absolute;
  display: flex;
  left: 52.5rem;
  bottom: 0;
  width: 10rem;
  height: 5rem;
  background-color: rgb(0, 0, 0);
  z-index: 7;
}
.hero__buttons-container button {
  background-color: rgb(0, 0, 0);
  width: 5rem;
  height: 5rem;
}
.hero__buttons-container button:hover,
.hero__buttons-container button:focus-visible {
  background-color: rgb(68, 68, 68);
}

.hero__button-container {
  position: absolute;
  top: 22.75rem;
  left: 61.25rem;
  width: 14.625rem;
  height: 0.9375rem;
  color: rgb(0, 0, 0);
  margin-top: 1.5rem;
  z-index: 7;
}
.hero__button-container .hero__button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.hero__button-container .hero__button p {
  color: rgb(0, 0, 0);
}
.hero__button-container .hero__button:hover svg, .hero__button-container .hero__button:focus-visible svg {
  fill: rgb(160, 160, 160);
  color: rgb(160, 160, 160);
}
.hero__button-container .hero__button:hover p, .hero__button-container .hero__button:focus-visible p {
  color: rgb(160, 160, 160);
}

.nav__item a {
  color: rgb(255, 255, 255);
  display: inline-block;
  padding-bottom: 0.5rem;
  text-transform: capitalize;
  position: relative;
  outline: none;
  cursor: pointer;
}
.nav__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
.nav__item a:hover::after,
.nav__item a:focus-visible::after {
  width: 50%;
}