//This file is for basic styling and resets

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background-color: none;
    border: none;
    padding: 0;
    outline: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
}

image {
    display: block;
    width: 100%;
}