//This file contains functions, inheritance, mixins...
@use "./variables";
@use 'sass:math';

@function px-rem($px) {
    @return calc($px / 16 * 1rem);
}

%nav-layout {
    .nav__list {
        display: flex;
        align-items: center;
        gap: 2rem;

    }

}

%article-format {
    display: flex;
    flex-direction: column;

    h1,
    h2 {
        color: variables.$black;
        margin-bottom: 1rem;
    }

    p {
        color: variables.$gy-500;
    }
}